@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

#landing {
    background: 
      /* top, transparent red, faked with gradient */ linear-gradient(
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.45)
      ),
      /* bottom, image */ url(https://picsum.photos/1920/1200);
    background-size: cover;
    background-attachment: fixed;
    margin-top: 25px;
  }
  
  #landing h1 {
    font-family: "Open Sans",sans-serif;
    font-size: 2em;
  }
  #navigation{
    font-family: "Open Sans",sans-serif;
    font-size: 1em;
    color: #eee;
    text-transform: uppercase;
    padding: 10px 12px 13px;
    
      }
      /* ul{
        float:left;
        display: inline-block;
      } */
      
 nav a:hover {
        color: #a0ce4e !important;
    }

    .navbar-brand {
      color: #a0ce4e !important;
    }


/*  */
.navbar-nav > a:before {
  left: -3px;
  top: 15px;
  z-index: 2;
  color: #eee;
  font-size: 4px;
  content: "\f10c";
  margin-right: 6px;
  position: absolute;

}
/*  */
  #landing hr{
    color: #a0ce4e !important;
    width:20%;
    height:1%;
    /* border-width: 15px; */
  }
  .section-title {
    z-index: 2;
    position: relative;
    color:#a0ce4e !important;
    text-align: center;
    font-size: 3.3rem;
  }
  
  .section-title span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    top: 12px;
    font-size: 0.9em;
    z-index: 1;
  }
  
  h6 {
    text-align: center;
  }
  
  .experience-container {
    border-left: 3px solid black;
    padding-left: 20px;
    position: relative;
  }
  
  .experience-container::before {
    position: absolute;
    left: -10px;
    top: 0;
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: rgb(248, 249, 250);
  }
  #services{
    margin: auto;
  }
  .progress-bar{
    background-color: #a0ce4e !important;
  }
  .btn{
    width: 4em!important; 
    background-color: #a0ce4e !important;
    margin: auto;
    
  }
  .card:hover .btn{

    background-color: aquamarine;
  }