@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
html,body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#landing {
    background: 
      /* top, transparent red, faked with gradient */ linear-gradient(
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.45)
      ),
      /* bottom, image */ url(https://picsum.photos/1920/1200);
    background-size: cover;
    background-attachment: fixed;
    margin-top: 25px;
  }
  
  #landing h1 {
    font-family: "Open Sans",sans-serif;
    font-size: 2em;
  }
  #navigation{
    font-family: "Open Sans",sans-serif;
    font-size: 1em;
    color: #eee;
    text-transform: uppercase;
    padding: 10px 12px 13px;
    z-index: 1;
    
      }
 
      
 nav a:hover {
        color: #a0ce4e !important;
    }

    .navbar-brand {
      color: #a0ce4e !important;
    }


/*  */
.navbar-nav > a:before {
  left: -3px;
  top: 15px;
  z-index: 2;
  color: #eee;
  font-size: 4px;
  content: "\f10c";
  margin-right: 6px;
  position: absolute;

}
/*  */
  #landing hr{
    color: #a0ce4e !important;
    width:20%;
    height:1%;
 
  }
  .section-title {
    z-index: 2;
    position: relative;
    color:#a0ce4e !important;
    text-align: center;
    font-size: 3.3rem;
  }
  #about .btn{
    background-color:#a0ce4e;
    width: 220px;
    text-decoration: none;
  }
  span :hover{
    color: rgb(247, 247, 247) !important;
    background-color: black !important;
  }
  
  .section-title span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    top: 12px;
    font-size: 0.9em;
    z-index: 1;
  }
  
  h6 {
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
   
    text-align: center;
  }
  h5{
    text-align: center;
  }

  .experience-container {
    border-left: 3px solid black;
    padding-left: 20px;
    position: relative;
  }
  
  .experience-container::before {
    position: absolute;
    left: -10px;
    top: 0;
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: #a0ce4e;
    
  }
  #services{
    margin: auto;
  }
  .progress-bar{
    background-color: #a0ce4e !important;
  }
  #services .btn{
    transition: .5s;
    width: 4em!important; 
    background-color: #a0ce4e !important;
    margin: auto;

  }
.dots{
  width: 20px;
  height: 16px;
  background-color:black;
  border-color: black;
  border-radius: 50%;
  display: inline-block;

}
.dots-greys{
  width: 20px;
  height: 16px;
  border-radius: 50%;
  background-color:#a0ce4e;
  display: inline-block;
}
.carousel-inner img{
  aspect-ratio: 1;
  object-fit: cover;
  width: 320px;
  
  
}

  .circle{
    width: 10px !important;
    height: 10px !important;
    aspect-ratio: 1 !important;
    border-radius: 50% !important;
    border-color: #a0ce4e!important;
    color:black !important ;
}
  .card:hover .btn{
    border-radius: 20px;
    background-color: aquamarine;
  }

h2:hover{
color: #a0ce4e;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
/* SIZES IMAGES */
.projects-container img {
  max-height: 400px;
  /* max-width: 300px; */
  object-fit: cover;
  flex-grow: 1;
  transition: .8s;
  /* opacity: .5; */
}
/* WRAPS AROUND IMG */
.img-container {
  position: relative;
  transition: .8s
}
/* BECOMES OPAQUE WHEN HOVER */
.img-container:hover > img{
  opacity: .75;
}
/* CENTERS BUTTONS IN IMG */
.btn-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* SETS BTN TO INVISIBLE */
.img-container .btn-center .btn {
  visibility: hidden;
  opacity: 0;
  transition: .8s;
}
/* SHOWS BUTTONS WHEN HOVER */
.img-container:hover>.btn-center .btn {
  visibility: visible;
  opacity: 1;
}
.btn-center a:hover{
  gap:2px;
  background-color: black;
  color: #a0ce4e !important;
}

.img-container:hover{
  border: 5px solid #a0ce4e;
}
.containter1{
  padding-top: 150px;
}
.color-green {
  color: #a0ce4e;
}


@media(max-width: 500px) {
  .buttons {
    width:310px;
  
  }
  .help{
  font-size: small;
  }

  .section-title{
  font-size:large;
  }
  .landing{
  object-fit: cover;
  }
  .carousel-item{
    max-height: 470px;
  max-width: 570px;
  object-fit:scale-down;
  }
  .img-container{
    max-height: 330px;
    max-width: 390px;
    margin-left: 20px;
    gap: 20px;
  }
  .rounded-circle{
    height: 250px !important;
    width: 250px !important;
  }
}